<div class="flex flex-col">
  <app-header-section />
  <app-content-section />
</div>

<!--TODO: Implementation of the second task. If you want to test it, please add the material button module to the dashboard module. -->
<!--<div class="flex justify-center items-center h-1/3">-->
<!--  <app-extended-button permission="createUser" isViewerDisabled viewerTooltip="Tooltip manual text">-->
<!--    <button mat-raised-button color="primary">-->
<!--      <span class="p-8">Task 2</span>-->
<!--    </button>-->
<!--  </app-extended-button>-->
<!--</div>-->
